body {
  font-family: 'Montserrat';
  font-size: 12px;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  font-family: 'Pacifico';
  font-size: 30px;
  color: #F07B9E !important;
}

.nav-item {
  margin-right: 30px;
  font-weight: 400;
}

.nav-item .active a {
  font-weight: 600;
  color: #F07B9E !important;
}

.nav-item .nav-link {
  color: #7f7f7f !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.nav-item .nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #F07B9E;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav-item .nav-link:hover:before {
  right: 0;
}

.nav-link {
  color: #F07B9E !important;
}

.nav .nav-item {
  font-size: 11px;
  padding-top: 10px;
}

.nav .nav-item .nav-link {
  padding: 0;
  text-transform: capitalize;
}

.carousel {
  margin-top: 71px;
}

.features h3 {
  font-weight: 600;
  color: #F07B9E;
}

.features .figure h5 {
  color: #171717;
}

.best h3 {
  font-weight: 600;
  color: #F07B9E;
}

.figure-img {
  position: relative;
}

.figure-img a {
  position: absolute;
  top: 0;
  bottom: 8px;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.figure-img:hover a {
  opacity: 1;
}

.figure-title p {
  color: #7A8489;
}

.figure-title h5 {
  color: #171735;
}

.figure-title:hover {
  text-decoration: none;
}

.btn-see-more {
  background-color: #F07B9E;
  color: white;
}

.btn-see-more:hover {
  color: white;
}

.btn-subscribe {
  background-color: grey;
  color: white;
  margin-top: 8px;
  font-size: 12px;
}

.btn-subscribe:hover {
  color: white;
}

.newsletter-p {
  color: gray;
  padding-top: 11px;
}

.form-control {
  font-size: 12px;
}

.breadcrumb {
  margin-top: 100px;
}

.cart-breadcrumb {
  margin-top: 50px;
}

.product-thumbnail {
  background-color: white;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.product-thumbnail a:hover {
  text-decoration: none;
}

.btn-product {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
  display: block;
  margin: 10px 0;
}

.nav-tabs .nav-item .nav-link {
  padding: 8px 16px;
}

.description {
  background-color: #f6f7fb;
  height: 330px;
}

.description .tab-content {
  background-color: white;
  border: 1px solid #dee2e6;
  border-top: 0;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.description .tab-content p {
  line-height: 28px;
}

.reviews {
  height: 330px;
  overflow: scroll;
}

.reviews h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.reviews p {
  font-size: 14px !important;
  color: grey;
}

.reviews img {
  margin-top: 10px;
}

.description-pane {
  height: 330px;
  overflow: scroll;
}

.similar-product {
  color: #F07B9E;
  margin-top: 200px;
}

.cart-header {
  color: #F07B9E;
}

.checkout-detail {
  background-color: #f6f7fb;
  border: 1px solid #eaeaea;
  color: #171717;
}

.checkout-modal-success h3 {
  color: #F07B9E;
}

.dropdown {
  position: static;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  margin: -7px 0 0 0;
  border: 0;
  font-size: 11px;
}

.dropdown-menu .dropdown-title {
  font-weight: 600;
}

.dropdown-menu .dropdown-item {
  color: #7f7f7f !important;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.dropdown-menu .dropdown-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #F07B9E;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.dropdown-menu .dropdown-item:hover:before {
  right: 0;
}

.dropdown-item:hover {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */