body {
    font-family: 'Montserrat';
    font-size: 14px;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 30px;
    color: #F07B9E !important;
}

.nav-item {
    margin-right: 33px;
    font-weight: 400;
}

.nav-item.active a {
    font-weight: 600;
    color: #F07B9E !important;
}

a>i {
    color: #F07B9E !important;
}