$colors: (primary: #F07B9E);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body {
    font-family: 'Montserrat';
    font-size: 12px;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 30px;
    color: color(primary) !important;
}

.nav-item {
    margin-right: 30px;
    font-weight: 400;

    & .active {
        a {
            font-weight: 600;
            color: color(primary) !important;
        }
    }

    .nav-link {
        color: #7f7f7f !important;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #F07B9E;
            height: 2px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover:before {
            right: 0;
        }
    }

    @at-root .nav-link {
        color: color(primary) !important;
    }

    .nav & {
        font-size: 11px;
        padding-top: 10px;

        .nav-link {
            padding: 0;
            text-transform: capitalize;
        }
    }
}

.carousel {
    margin-top: 71px;
}

.features {
    h3 {
        font-weight: 600;
        color: color(primary);
    }

    .figure {
        h5 {
            color: #171717;
        }
    }
}

.best {
    h3 {
        font-weight: 600;
        color: color(primary);
    }
}

.figure-img {
    position: relative;

    & a {
        position: absolute;
        top: 0;
        bottom: 8px;
        right: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.7);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover a {
        opacity: 1;
    }
}

.figure-title {
    p {
        color: #7A8489;
    }

    h5 {
        color: #171735;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-see-more {
    background-color: color(primary);
    color: white;

    &:hover {
        color: white;
    }
}

.btn-subscribe {
    background-color: grey;
    color: white;
    margin-top: 8px;
    font-size: 12px;

    &:hover {
        color: white;
    }
}

.newsletter-p {
    color: gray;
    padding-top: 11px;
}

.form-control {
    font-size: 12px;
}

.breadcrumb {
    margin-top: 100px;
}

.cart-breadcrumb {
    margin-top: 50px;
}

.product-thumbnail {
    background-color: white;
    box-shadow: 0 4px 15px rgba($color: #000000, $alpha: 0.1);
    width: 360px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.btn-product {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaef;

    .btn {
        display: block;
        margin: 10px 0;
    }
}

.nav-tabs {
    .nav-item {
        .nav-link {
            padding: 8px 16px;
        }
    }
}

.description {
    background-color: #f6f7fb;
    height: 330px;

    .tab-content {
        background-color: white;
        border: 1px solid #dee2e6;
        border-top: 0;
        box-shadow: 0 4px 15px rgba($color: #000000, $alpha: 0.06);

        p {
            line-height: 28px;
        }
    }
}

.reviews {
    height: 330px;
    overflow: scroll;

    h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 10px;
    }

    p {
        font-size: 14px !important;
        color: grey;
    }

    img {
        margin-top: 10px;
    }
}

.description-pane {
    height: 330px;
    overflow: scroll;
}

.similar-product {
    color: color(primary);
    margin-top: 200px;
}

.cart-header {
    color: color(primary);
}

.checkout-detail {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
    color: #171717;
}

.checkout-modal-success {
    h3 {
        color: color(primary);
    }
}

.dropdown {
    position: static;

    &:hover .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    display: none;
    margin: -7px 0 0 0;
    border: 0;
    font-size: 11px;

    & .dropdown-title {
        font-weight: 600;
    }

    & .dropdown-item {
        color: #7f7f7f !important;
        padding: 0 0 10px 0;
        margin-bottom: 20px;

        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            background: #F07B9E;
            height: 2px;
            -webkit-transition-property: right;
            transition-property: right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover:before {
            right: 0;
        }

        @at-root .dropdown-item {
            &:hover {
                background-color: white;
            }
        }
    }
}